numpy
tensorflow
tensorflow_hub
sklearn
matplotlib
spectralcluster
opencv-python
opencv-contrib-python
pillow
keras
imutils
autograd
pymanopt
pyamg
hdbscan
pandas
MiniSom
somber
tqdm
seaborn
statsmodels